.button {
    font: inherit;
    border: 1px solid #4fc003;
    background: #07da57;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #4f0da5;
    border-color: #0543c7;
  }
  
  .button:focus {
    outline:tomato;
  }